Source/CollegeLMS/CollegeLMS/Service References/TransactionServer/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="issueBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueComic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueComicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueComicResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issuePastP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issuePastPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuePastPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueNewsMag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueNewsMagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueNewsMagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueVidDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issueVidDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issueVidDocResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unReturnedCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unReturnedCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unReturnedCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resourcedIssued">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resourcedIssuedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourcedIssuedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resourceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issuedResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="issuedResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="issuedResourcesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>